.main{
    background-color: rgb(198, 236, 187);
    color:rgb(21, 58, 49);
    margin-top: 180px;
}

.house {
    background-color: rgb(163, 203, 153);
}
.about__gallery{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
  }
.cards{
    justify-content: center;
}

/* Фон затемнения */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex; /* Для центрирования содержимого */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Контейнер формы */
  .popup-content {
    background: #c6d6bc;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    
    /* Центрирование текста внутри окна */
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center;    /* Центрируем по горизонтали */
    text-align: center;     /* Выравнивание текста по центру */
  }
  
  /* Заголовок и поля формы */
  .popup-content h2,
  .popup-content form {
    width: 100%; /* чтобы формы и заголовки занимали всю ширину контейнера */
    margin-bottom: 15px; /* отступ снизу для разделения элементов */
  }
  
  /* Поля формы */
  .popup-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  /* Кнопка закрытия */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }


