.header__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 29px;
    color: #0d351f; 
}

.hotel {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #105730;
}

.hotel__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #e3ece8;
    background-color: #316b3f;
    border: 1px solid #d5e7e1;
    border-radius: 24px;

    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.additional-services__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    color: #0d351f; 
}

.additional-services {
    color: #28573d;
    
    background-color: #ddecdd;
}

